@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 15px !important;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif !important;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
}

ul,
ol {
  padding-left: 0 !important;
  list-style: none;
}

a {
  text-decoration: none !important;
}

img {
  vertical-align: middle;
}

.section-padding {
  padding: 80px 0;
}

button.default-btn {
  border: 1px solid #5929ba;
  background: #5929ba;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 50px;
  margin-right: 10px;
  letter-spacing: 1px;
  transition: 0.5s;
}

button.default-btn:hover {
  background: #000;
  border-color: #000;
}

.section-title {
  text-align: center;
  padding-bottom: 5rem !important;
}

.section-title h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
  width: 60%;
  margin-left: 20%;
}

.section-title p {
  margin: 0 auto;
  font-style: italic;
  color: #a2a2a2;
  width: 65%;
  padding-top: 10px;
}

/********** Start Main Coding **********/
#header_area {
  position: fixed;
  padding: 10px;
}

.sticky {
  background: #fff !important;
  transition: 0.5s;
  width: 120%;
  padding: 5px !important;
  box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 30%) !important;
  z-index: 1;
}

.sticky a.navbar-brand img.main-logo {
  display: none;
}

.sticky a.navbar-brand img.logo-alt {
  display: block;
  top: 23%;
  left: 7%;
}

.sticky .navbar-menu {
  margin-right: 22rem !important;
  margin-left: 0 !important;
}

.sticky .navbar-menu ul li a {
  color: #000 !important;
}

a.navbar-brand img.main-logo {
  width: 100px;
  margin-left: 100px;
}

a.navbar-brand img.logo-alt {
  width: 100px;
  position: absolute;
  left: 13%;
  display: none;
}

.navbar-menu {
  margin-left: 45%;
}

a.nav-link {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff !important;
  margin-right: 10px;
  letter-spacing: 1px;
}

.manu-icon {
  display: none;
}

/********** Hero **********/
#hero {
  background: linear-gradient(rgba(33, 35, 43, 0.8), rgba(33, 35, 43, 0.8)),
    url("../image/home-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-content {
  color: #fff;
  text-align: center;
  margin-top: 12%;
}

.hero-content h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

.hero-content p {
  padding: 20px 0;
  font-size: 18px;
  font-style: italic;
}

.hero-content .hero-btn {
  background: transparent;
  border: 2px solid #fff;
  margin-left: 10px;
}

/********** Wapper One **********/
#wapper-one {
  background: #5929ba;
}

.wapper-title h1 {
  color: #fff;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 3.2rem;
}

.wapper-btn button {
  background: #fff !important;
  border-color: #fff !important;
  color: #000;
  font-weight: 600;
}

/********** About **********/
h2.about-title {
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  width: 80%;
  letter-spacing: 3px;
}

.about-content p {
  font-size: 18px;
  color: #a2a2a2;
  padding-bottom: 20px;
}

.feature-titles h4.feature-title {
  background: #5929ba;
  color: #fff;
}

.feature-titles h4 {
  background: #f7f4f2;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
}

.feature-titles h4:hover {
  background: #5929ba;
  color: #fff;
}

/********** Wapper Two **********/
.services-box {
  background: #fff;
  text-align: center;
  padding: 30px 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0px 15px 24px rgb(64 90 128 / 5%);
}

.services-content h5 {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.services-content p {
  color: #787878;
  font-size: 15px;
  width: 95%;
  margin-left: 10px;
}

/********** Services **********/
#services {
  background: #f7f4f2;
}

/********** Counter Up **********/
.counter-box {
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0px 15px 24px rgb(64 90 128 / 5%);
}

.counter-box h1 {
  font-weight: 700;
  font-size: 45px;
  padding-bottom: 10px;
  letter-spacing: 5px;
}

.counter-box h5 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

/********** price **********/
#price {
  background: #f7f4f2;
}

.price-box {
  padding: 30px 20px;
  border: 1px solid #f7f5f6;
  background-color: #fff;
  text-align: center;
  margin: 15px;
  border-radius: 7px;
  transition: 0.5s;
}

.price-box:hover {
  box-shadow: 0 5px 10px 0px rgb(17 21 23 / 10%);
}

.price-title {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}

.price-price {
  font-family: "Dosis", sans-serif;
  padding-bottom: 20px;
}

.price-price sup {
  font-size: 18px;
  color: #222;
  font-weight: 500;
}

.price-price strong {
  font-size: 65px;
  font-weight: 400;
}

.price-price span {
  font-size: 14px;
  font-weight: 500;
  color: #787878;
}

.price-body {
  line-height: 3rem;
  color: #a2a2a2;
  font-weight: 400;
  font-size: 15px;
}

/********** Woeks **********/
.works-item {
  background: #f7f4f2;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.works-img img {
  height: 280px;
  width: 320px;
}

.works-overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.works-overlay-content:hover {
  opacity: 1;
}

.works-overlay-content:before {
  content: "";
  position: absolute;
  background: #26282ee1;
  height: 19.2rem;
  width: 21.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.works-overlay-content h5 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.works-overlay-content p {
  color: #fff;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
}

/********** Tesimonal **********/
#testimonial {
  background: linear-gradient(rgba(33, 35, 43, 0.8), rgba(33, 35, 43, 0.8)),
    url("../image/tesimonal-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#testimonial .section-title {
  padding-bottom: 3rem !important;
}

#testimonial .section-title h2 {
  color: #fff;
}

.testimonial-item {
  background: #fff;
  text-align: center;
  margin: 5px;
  padding: 30px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.testi-img img {
  width: 70px;
  border-radius: 100%;
  padding-bottom: 20px;
}

.testi-content {
  color: #a2a2a2;
}

.testi-content p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.testi-content h5 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
}

.testi-content span {
  font-size: 14px;
  font-style: italic;
  text-transform: capitalize;
}

/********** Blog **********/
.blog-item {
  transition: 0.5s;
  border: 1px solid #f7f5f6;
  cursor: pointer;
}

.blog-item:hover {
  box-shadow: 0 5px 10px 0px rgb(17 21 23 / 10%);
}

.blog-img {
  overflow: hidden;
}

.blog-img img {
  width: 100%;
  max-height: 235px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.blog-img img:hover {
  transform: scale(1.1);
}

.blog-content {
  padding: 30px 20px;
}

.blog-content a {
  font-family: "Dosis", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.blog-content a:hover {
  color: #23527c;
}

.blog-content p {
  padding-top: 15px;
  color: #a2a2a2;
}

/********** Contact **********/
#contact .section-title {
  padding-bottom: 3rem !important;
}

.contact-form input {
  margin-right: 20px;
  width: 227px;
}

.contact-form textarea:focus,
.contact-form input:focus {
  border-color: #66afe9;
}

.contact-form textarea {
  width: 65%;
  height: 195px;
  margin-right: 2%;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #e8ebee;
  padding: 12px 20px;
  outline: none;
  margin-bottom: 20px;
  font: 14px;
  color: #a2a2a2;
}

.social-icons ul {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.social-icons ul li a {
  padding: 10px;
  color: #a2a2a2;
  font-size: 14px;
  transition: 0.3s;
}

.social-icons ul li a:hover {
  color: #333;
}

/********** Footer **********/
#footer {
  background: linear-gradient(30deg, #5929ba 30%, #2131b6 100%);
  padding: 70px 0 50px 0;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us img {
  width: 100px;
  padding-bottom: 20px;
}

.about-us ul li {
  color: #fff;
  line-height: 30px;
}

.footer-item h4 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.footer-item ul {
  padding-top: 10px;
}

.footer-item ul li a {
  color: #fff !important;
  line-height: 30px;
}

.copy-right-text {
  background: #16171d;
  padding: 20px;
}

.copy-right-text p {
  color: #a2a2a2;
  display: grid;
  place-items: center;
}
